<launch>
    <!-- ========================= CLI Arguments ========================= -->
    <!-- Check if testing on route 1 or 2 -->

    <arg name="route" default="route1" />


    <!-- Robot initial pose -->
    <!-- If Route 1 -->
    <arg name="x" default="5.853562" if="$(eval route=='route1')" />
    <arg name="y" default="-2.120167" if="$(eval route=='route1')" />
    <arg name="z" default="0.538968" if="$(eval route=='route1')" />
    <arg name="yaw" default="-3.142857" if="$(eval route=='route1')" />
    <!-- Route 1 Goal Location -->
    <arg name="goal_x" default="-6.786472" if="$(eval route=='route1')" />
    <arg name="goal_y" default="-6.524966" if="$(eval route=='route1')" />
    <arg name="goal_z" default="0.373011" if="$(eval route=='route1')" />

    <!-- If Route 2 -->
    <arg name="x" value="-4" unless="$(eval route=='route1')" />
    <arg name="y" value="-10.9" unless="$(eval route=='route1')" />
    <arg name="z" value="0.373011" unless="$(eval route=='route1')" />
    <arg name="yaw" value="0" unless="$(eval route=='route1')" />
    <!-- Route 2 Goal Location -->
    <arg name="goal_x" default="5" unless="$(eval route=='route1')" />
    <arg name="goal_y" default="-1.5" unless="$(eval route=='route1')" />
    <arg name="goal_z" default="0.373011" unless="$(eval route=='route1')" />

    <!-- Gazebo World file to load -->
    <arg name="world_name" default="$(find parc_robot)/worlds/parc_task3.world" />

    <!-- ========================= Robot Model ========================= -->
    <!-- Load URDF -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find parc_robot)/urdf/robot_with_seeder.xacro'" />

    <!-- Generate TF from URDF -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- ========================= Simulator ========================= -->
    <!-- Start Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>

    <rosparam command="load" file="$(find parc_robot)/config/control.yaml"/>

    <!-- Spawn Robot model in Gazebo -->   
    <node name="spawn_robot_model" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x)
                  -y $(arg y)
                  -z $(arg z)
                  -Y $(arg yaw)
                  -unpause
                  -urdf
                  -param robot_description
                  -model 'robot'" />

    <!-- Show Goal Location in Gazebo -->
    <node name="spawn_goal_location" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-file $(find parc_robot)/models/goal_location/model.sdf -sdf 
                  -model goal_location
                  -x $(arg goal_x)
                  -y $(arg goal_y)
                  -z $(arg goal_z)" />

    <!-- ========================= Vizualize ========================= -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find parc-robot)/rviz/parc_task3.rviz" /> -->
</launch>