[submodule "scout_ros"]
	path = scout_ros
	url = https://github.com/agilexrobotics/scout_ros
	branch = master
[submodule "ugv_sdk"]
	path = ugv_sdk
	url = https://github.com/agilexrobotics/ugv_sdk
	branch = master
