<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Includes -->
  <xacro:include filename="$(find parc_robot)/urdf/enclosure.xacro" />

  <!-- enclosure -->
  <xacro:enclosure parent="base_link">
    <origin xyz="0.7 0 -0.21" rpy="0 0 0" />
  </xacro:enclosure>

</robot>