<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Includes -->
  <xacro:include filename="$(find parc_robot)/urdf/ydlidar.xacro" />
  <xacro:include filename="$(find parc_robot)/urdf/zed2.xacro" />

  <!-- ydlidar -->
  <xacro:ydlidar_sensor parent="base_link">
    <origin xyz="0.25 0 0.11" rpy="0 0 0" />
    <!-- <origin xyz="0.25 0 0.14" rpy="0 0 0" /> -->
  </xacro:ydlidar_sensor>

  <!-- zed2 camera -->
  <xacro:zed2 parent="base_link">
    <origin xyz="0.35 0 0.11" rpy="0 0 0"/>
  </xacro:zed2>

</robot>